
.card {
  height: 280px;
  width: 350px;
  overflow: hidden;
  display: inline-block
  
}

.card .img-container {
  height: 280px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  
}

.card > .content > ul {
  list-style-type: none;
  display: inline;
}




